#page {
  width: 95%;
}

/* text styling */
h1{
  font-family:helvetica;
  color:black;
  margin-top:50;
}

h3{
  font-family:helvetica;
  color: black;
}

p {
  font-family:helvetica;
  color:black;
  text-align:left;
}


/* style for the navigation menu links */

#menu{
  font-family:helvetica;
  color:black;
  width:180px;
  height:1000px;
  float:left;
  margin-right:20;
}

.menu-link {
    font-family: helvetica;
    color: black !important;
    text-decoration: none;
  }
  
h3 a {
    text-decoration: none;
    color: black !important;
  }
  
.menu-link h3 u {
    text-decoration: none;
  }

.menu-link h3 a:visited,
.menu-link a:link{
    color: black !important;
  }

/* styling for "content" */

#content{
  padding : 20px;
  width: 100%;
  float:left;

}
/* style for the survey (form) */

form {
  display: flex;
  flex-wrap: wrap;
  
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
  overflow: auto;
}

 input[type=submit], button[type=submit], #button { 
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color:rgb(255, 255, 255);
  }

  #button:hover {
    opacity: 0.8;
  }
/* used to style the input types */
input[type=text], select {
  padding: 5px 8px;
  margin: 4px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

/* used to automatically adjust the size of the input field and the accompaning text */
.adjust-size{ 
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}


label {
  flex: 1 0 auto; /* take up as much space as necessary */
  display: inline-flex;
  flex-direction: column;
  
  /* flex-basis: 70%; */
  /* flex-shrink: 0; */
  /* padding-right: 10px; */

}
input, select {
  flex: 1 1 auto; /* take up remaining space */
  width: 100%; /* fill remaining space */
}

label, a {
  display: inline;
}


