<!DOCTYPE html>
<html>
<head>
  <title>Read Excel File</title>
</head>
<body>

  <h1>Convert XLS to JSON</h1>
  <input type="file" id="xlsFile" />
  <button onclick="convertToJSON()">Convert to JSON</button>
  <div id="output"></div>
  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  <script src="myscript.js"></script>

  <!-- <h1>Read Excel File</h1>
  <input type="file" id="excelFile" accept=".xls,.xlsx"/>
  <form id="myForm">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" /><br />
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" /><br />
    <label for="age">Age:</label>
    <input type="number" name="age" id="age" /><br />
  </form>
  <script src="read-excel-file.min.js"></script>
  <script src="myscript.js"></script> -->
</body>
</html>
